@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --header-color: #012676;
    --bg-color: #FAFAFA;
    --label-text: #FFFFFF;
    --select-bg: #D4D4D8;
    --nav-bar: #E4E4E7;
    --text: #000;
    --btn: #F9B521;
}

.nav-cont {
    margin: auto;
    position: fixed;
    top: 92%;
    left: 50%;
    margin-top: -2%;
    margin-left: -200px;
}

.pic-cont {
    border-top: 5px solid var(--nav-bar);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cont {
    padding: 10px 20px;
    margin: auto;
}

body * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--header-color);
    font-size: 32px;
    margin: 20px 10px;
}

.info {
    margin-top: 50px;
    padding-left: 10vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.sub {
    min-width: 300px;
    height: 40px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

select {
    padding-left: 10px;
    color: var(--text);
    background: var(--select-bg);
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.desc-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    margin-top: 30px;
    max-width: 300px;
    font-weight: 500;
    padding: 10px;
    background: var(--select-bg);
    color: var(--text);
    border: none;
    border-radius: 10px;
}

.add-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 40%;
    background: var(--btn);
    color: var(--bg-color);
    font-weight: 600;
}