@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-tekst: #012676;
    --main-background: #fafafa;
    --sec-tekst: #D4D4D8;
    --btn: #F9B521;
    --nav-bar: #E4E4E7;
    --article-background: #F3F3F3;
    --in-bg:#CACACA;
}

body * {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-cont {
  position: fixed;
  top: 92%;
  left: 0;
  margin-top: -2%;
  width: 100%;
  background-color: var(--main-background);
  padding-bottom: 0.25rem;
}

.pic-cont {
    border-top: 5px solid var(--nav-bar);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cont {
    padding: 10px 20px;
    margin: auto;
}

h1 {
  color: var(--main-tekst);
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  margin-bottom: 2rem;
}

select {
  font-size: 110%;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  background: var(--sec-tekst);
  border: none;
  border-radius: 5px;
}

.article {
  padding: 1rem;
  border-radius: 10px;
  background: var(--article-background);
}
.add-notes {
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 20%);
  top: 82%;
}

.area{
  display: flex;
  justify-content: center;
}

.search{
  background-color: var(--in-bg);
  max-width: 250px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  justify-content: space-between;
}

.search input{
  background-color: var(--in-bg);
  width: 100px;
  max-width: 60%;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

svg{
  transform: rotateZ(-180deg);
  margin-right: 10px;
}

::placeholder{
  color: #000;
  font-size: larger;
  font-weight: bolder;
}

article{
  width: 300px;
  height: 250px;
  max-width: 80%;
  max-height: 80%;
  flex-basis: 40%;
  margin: 1rem;
}

.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 50vh;
  overflow-y: scroll;
}

.form-container {
  width: 300px;
  height: min-content;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column-reverse;
  transition-duration: 500ms;
}

.form-group input{
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.form-group textarea {
  height: 100px;
  resize: none;
}
button{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 auto 0;
}

.add-button:before {
  content: '+';
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: visible;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .icon2 {
    display: none;
  }
}