@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --header-color: #012676;
    --bg-color: #FAFAFA;
    --label-text: #FFFFFF;
    --select-bg: #D4D4D8;
    --nav-bar: #E4E4E7;
}

.nav-cont {
    position: fixed;
    top: 92%;
    left: 0;
    margin-top: -2%;
    width: 100%;
    background-color: var(--bg-color);
    padding-bottom: 0.25rem;
}

.pic-cont {
    border-top: 5px solid var(--nav-bar);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cont {
    padding: 10px 20px;
    margin: auto;
}

body * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--header-color);
    font-size: 32px;
    margin: 20px 10px;
    font-weight: bold;
}

.icon {
    position: fixed;
    left: 96%;
    top: 3%;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

h2 {
    font-size: 20px;
}

.star-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    padding: 20px 0 0 0;
}

.user-cont{
    margin: 1rem 0.5rem;
    background-color: var(--nav-bar);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 5px 5px 10px grey;
    min-width: 80%;
}

main{
    height: 75vh;
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
    .icon{
        left: 88%;
    }

    .nav-cont{
        margin-top: -3%;
    }
}