@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --header-color: #012676;
    --bg-color: #FAFAFA;
    --label-text: #FFFFFF;
    --select-bg: #D4D4D8;
    --nav-bar: #E4E4E7;
    --text: #000;
    --btn: #F9B521;
}

body * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--header-color);
    font-size: 32px;
    margin: 20px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left, .right {
    width: 45%;
}

.middle-cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10rem;
}

.nav-cont {
    position: fixed;
    top: 92%;
    left: 0;
    margin-top: -1%;
    width: 100%;
    background-color: var(--bg-color);
    padding-bottom: 0.25rem;
}

.pic-cont {
    border-top: 5px solid var(--nav-bar);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cont {
    padding: 10px 20px;
    margin: auto;
}

.info-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-cont {
    width: 300px;
    height: 300px;
    background: var(--select-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.stars-cont {
    margin-top: 30px;
}

.desc-cont {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.line1, .line2 {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.notatki, .opinie, .kompetencje {
    border-radius: 5px;
    height: 70px;
    min-width: 260px;
    background: var(--header-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.notatki a, .opinie a, .kompetencje a, .log-out a {
    text-decoration: none;
    color: var(--label-text);
    width: 60%;
}

.log-out {
    padding: 5px;
    border-radius: 5px;
    min-width: 260px;
    height: 70px;
    background: #dd2b2b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.area-cont {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-area {
    background: var(--select-bg);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 1250px){
    .nav-cont{
        margin-top: -3%;
    }
    .middle-cont{
        flex-direction: column;
    }
}


@media only screen and (max-width: 768px) {
    .nav-cont{
        margin-top: -4%;
    }
    .log-out{
        min-width: 160px;
        height: 40px;
    }

    .notatki, .opinie, .kompetencje {
        min-width: 200px;
        height: 60px;
    }

    .log-out{
        min-width: 200px;
        height: 60px;
    }

    .buttons{
        margin-top: 60px;
    }

    .profile-cont{
        width: 130px;
        height: 130px;
    }

    .desc-cont{
        min-width: 350px;
    }

    .middle-cont{
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 480px) {
    .notatki, .opinie, .kompetencje {
        min-width: 160px;
        height: 40px;
        margin: 0;
    }

    .log-out{
        min-width: 160px;
        height: 40px;
        margin: 0;
    }

    .profile-cont{
        width: 90px;
        height: 90px;
    }
}
